#titrePortfolio {
    background-color: aqua;
}

header {
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(168, 158, 158);
    border-spacing: 100px;
    align-content: normal;
    text-align: right;
}

/* a:quelqueChose
ou .boutonsNav:quelqueChose*/

.boutonsNav {
    background-color: rgb(189, 53, 29);
    text-decoration: none; /* no underline */
}

.boutonsNav:hover {
    background-color: rgb(0, 0, 0);
    color: black;
}